.completed-item{
  font-family: 'Nerko One', cursive;
  color:white;
  letter-spacing: 2px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 15px 15px;
  height: 70px;
  width: 800px;
}
.completed-item-idx-wrapper{
  display: flex;
  align-items: center;
}
.completed-item-idx-wrapper >span{
  margin-right: 10px;
}
.completed-item-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  position: relative
}
.completed-item-more{
  display: none;
}
.completed-item-link{
  color: white;
  font-family: 'Nerko One', cursive;
}
.completed-item-link:hover{
  color: rgb(230, 217, 217);
  transform: scale(1.05)
}

.completed-item-delete{
  cursor: pointer;
}

@keyframes shake{
  0%{ transform: rotate(45deg)}
  25%{ transform: rotate(0deg)}
  50%{ transform: rotate(-45deg)}
  75%{ transform: rotate(0deg)}
  100%{ transform: rotate(45deg)}
}
.completed-item-delete:hover{
  animation: shake .70s ease-in 1.25;
}



@media(max-width: 845px){
  .completed-item{
    width: 90vw;
  }
}

@media(max-width: 675px){
  .completed-item-link{
    display: none;
  }
  .completed-item-delete{
    display: none;
  }
  .completed-item-options{
    width: 150px;
  }
  .completed-item-more{
    display: block;
    cursor: pointer;
  }
}

@media(max-width:475px){
  .completed-item-options{
    justify-content: flex-end;
  }
  .completed-item-more{
    margin-right: 30px;
  }
}