
.completion-modal-back{
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.completion-modal-back > div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.completion-modal-close{
  cursor: pointer;
}

.completion-modal-content{
  background: white;
  border: solid 4px black;
  width: 400px;
  height: 350px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.completion-modal-gif{
  width: 300px;
}
.completion-modal-text{
  margin: 0;
  font-family: 'Nerko One', cursive;
  font-size: 24px;
  letter-spacing: 2px;
}
.completion-modal-btn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: solid 2px black; 
  background: black;
  color: rgb(230, 217, 217);
  cursor: pointer;

  transition: all .3s ease-in;
}
.completion-modal-btn:hover{
  box-shadow: 4px 5px 5px grey;
}

@media(max-width: 475px){
  .completion-modal-content{
    width: 92vw;
  }
  .completion-modal-text{
    padding: 0 15px
  }
}