.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  padding: 0 15px;
  background-image: url('https://media.giphy.com/media/uf3jumi0zzUv6/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container > h3{
  color: black;
  background: white;
  padding: 0 5px;
  border-radius: 4px;
  font-family: 'Nerko One', cursive;
  letter-spacing: 2px;
}

.nav-lnk{
  text-decoration: none;
  font-family: 'Nerko One', cursive;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: white; 
  padding: 0 15px;
  font-size: 24px;
}

.nav-lnk:hover{
  color: rgb(230, 217, 217);
  text-decoration: underline;
}

.nav-completed-container{
  position: relative
}

h6 > span{
  font-size: 18px;
}

.nav-hamburger{
  display: none
}
@media(max-width: 768px){
  .nav-hamburger{
    display: block;
    cursor: pointer;
  }
  .nav-lnk.logout{
    display: none
  }
  .nav-lnk.new{
    display: none;
  }
}

@media(max-width: 675px){
  .nav-completed-container{
    position: static
  }
  .nav-lnk.completed{
    display: none
  }
  .nav-container{
    justify-content: space-between;
    padding: 0 30px;
  }
}

@media(max-width: 475px){
  .nav-lnk.list{
    display: none;
  }

}