.todo-list-main{
  background-image: url('../images/productive2.jpg');
  background-size: cover;
  min-height: 100vh;
}

.todo-list-back{
  background-color: rgba(255,255,255,.5);
  border-radius: 3px;
  padding: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-title{
  font-family: 'Nerko One', cursive;
  font-size: 36px;
}

.todo-list-item{
  font-family: 'Nerko One', cursive;
  letter-spacing: 2px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 70px;
  width: 800px;
  border-radius: 4px;
  cursor: move;
}

.todo-list-item:hover{
  box-shadow: 0px 0px 5px black inset; 
}
.todo-list-item:active{
  box-shadow: none;
}
@keyframes saved{
  0%{background: rgba(84, 174, 146,0); box-shadow: 0px 0px 5px black inset;}
  20%{background: rgba(84, 174, 146,.2); box-shadow: 0px 0px 5px black inset;}
  40%{background: rgba(84, 174, 146,.5); box-shadow: 0px 0px 5px black inset;}
  60%{background: rgba(84, 174, 146,0); box-shadow: 0px 0px 5px black inset;}
  80%{background: rgba(84, 174, 146,.2); box-shadow: 0px 0px 5px black inset;}
  100%{background: rgba(84, 174, 146,.5); box-shadow: 0px 0px 5px black inset;}
}
.todo-list-item.saved{
  animation: saved .5s ease
}

.dragged-item{
  box-shadow: 0px 0px 5px black inset;  
  background: rgba(0,0,0,.2);
}

.todo-list-idx-wrapper{
  display: flex;
  align-items: center;
}
.todo-list-idx-wrapper >span{
  margin-right: 5px;
}
.todo-list-link{
  color: black;
  font-family: 'Nerko One', cursive;
}

.todo-list-link:hover{
  color: rgb(29, 28, 28);
  transform: scale(1.05)
}

.todo-list-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  position: relative
}

.todo-list-delete{
  cursor: pointer;
}

@keyframes shake{
  0%{ transform: rotate(45deg)}
  25%{ transform: rotate(0deg)}
  50%{ transform: rotate(-45deg)}
  75%{ transform: rotate(0deg)}
  100%{ transform: rotate(45deg)}
}
.todo-list-delete:hover{
  animation: shake .70s ease-in 1.25;
}


#complete{
  cursor: pointer;
}


.todo-list-save{
  font-family: 'Nerko One', cursive;
  letter-spacing: 2px;
  font-size: 24px;
  margin: 15px;
  height: 40px;
  padding: 0 5px;
  border-radius: 4px;
}

.todo-list-save:not(.save){
  background: rgba(180, 175, 175,.5);
  border: rgba(56, 55, 55,.5) 4px solid;
  color: rgba(56, 55, 55,.5);
  pointer-events: none;
}

.todo-list-save.save-me{
  background: white;
  border: black 4px solid;
  color: black;
  cursor: pointer;
  pointer-events: auto;
} 

.todo-list-save.save-me:hover{
  background:rgb(230, 217, 217);
  box-shadow: 4px 5px 5px grey;
}

.todo-list-save.save-me:active{
  transform: scale(.94);
}